.filter-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  padding: 0rem 1rem;

  button {
    background-color: #575552;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    font-size: 0.75rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    text-align: center;
    transition: background 0.3s;

    .filter-icon {
      font-size: 1.4rem;
    }

    span {
      color: #fff;
    }

    &:hover {
      background-color: #fab04f;
    }
  }
}
@media (max-width: 768px) {
  .filter-buttons {
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;

    button {
      width: 70px;
      height: 70px;
      font-size: 0.75rem;

      .filter-icon {
        font-size: 1rem;
      }
    }
  }
}
