.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 3rem;
  background: #bdc3c7;
  background: linear-gradient(to right, #2d2d2d, #bdc3c7);

  color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  top: 0;
  z-index: 10;

  .logo a {
    font-family: "Pacifico", cursive;
    font-size: 2.5rem;
    color: #f8b400;
    text-decoration: none;
    text-shadow: 3px 3px 5px rgba(230, 152, 8, 0.5);
  }

  .nav-links {
    display: flex;
    gap: 2rem;

    a {
      color: white;
      text-decoration: none;
      font-weight: 500;
      transition: color 0.3s;

      &:hover {
        color: #f8b400;
      }
    }
  }
}
