.carousel-section {
  padding: 0rem 4.5rem;
  padding-bottom: 2rem;

  h2 {
    color: #2d2d2d;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .swiper {
    padding-left: 5px;
    padding-right: 5px;
    overflow: hidden; // Ensure slides are not clipped
  }

  .swiper-slide {
    width: auto;
    max-width: 250px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    top: 60%;
    transform: translateY(-60%);
    color: #2d2d2d;
    transition: 0.3s ease;
  }

  .swiper-button-next:hover,
  .swiper-button-prev:hover {
    color: #f8b40e;
  }
}

@media (max-width: 768px) {
  .carousel-section {
    padding: 0 1rem;

    h2 {
      font-size: 1.2rem;
      text-align: left;
      margin: 1rem 0;
      padding-left: 1rem;
    }

    .swiper {
      padding-bottom: 1rem;
      overflow: hidden;
    }

    .swiper-slide {
      flex: 0 0 calc(33.33% - 10px);
      max-width: calc(33.33% - 10px);
    }

    .swiper-button-next,
    .swiper-button-prev {
      display: none;
    }
  }
}

@media (max-width: 480px) {
  .swiper-slide {
    width: 80%;
    max-width: 80%;
  }
}
